![image](https://pwskills.com/images/PWSkills-main.png)

# Data Science Masters

## Day - 32
## Date- 7 March 2023 
## Basic Statistics - II

# 1. `Measure Of Central Tendency`

## 1.1 Mean
$$\bf{\text{Population Mean}}(\mu)= \sum_{i=1}^N \frac{x_i}{N}$$

$$\bf{\text{Sample Mean}}(\bar{x})= \sum_{i=1}^n \frac{x_i}{n}$$

$$= \frac{1+1+2+2+3+3+4+5+5+6}{10}= \frac{32}{10}= 3.2$$

## 1.2 Median
Median is used to find the central tendency when outliers presented.

* When the number of observations (n) in the set is odd, the median formula is:
$$Median= \frac{n+1}{2}$$

* When the number of observations (n) in the set is even, the median formula is
$$Median= \frac{(\frac{n}{2})+ (\frac{n}{2}+ 1)}{2}$$

* When the number of observations are in frequency
$$Median= l+ \frac{h}{f} \Big(\frac{N}{2}- c \Big)$$

where,
<br> $l$ : Lower class boundary of the median class
<br> $h$ : Size of the median class interval
<br> $f$ : Frequency corresponding to median class
<br> $N$ : Total number of observations 
<br> $c$ : Cumulative frequency preceding median class

## 1.3 Mode
$$Mode= l+ \Big(\frac{f_1- f_0}{2f_1- f_0- f_2} \Big) \times h$$

where,
<br> $l$ : Lower limit of the modal class
<br> $h$ : Size of the class interval 
<br> $f_1$ : Frequency of the modal class
<br> $f_0$ : Frequency of the class preceding the modal class
<br> $f_2$ : Frequency of the class succeeding the modal class

## 1.4 Relationship between Mean, Median, Mode
$$Mode = 3\, Median â€“ 2\, Mean$$

In [1]:
# Mean(Average)
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [2]:
import numpy as np
np.mean(age)

41.416666666666664

In [3]:
weights=[54,45,34,54,34,67,54,56,75]

In [4]:
np.mean(weights)

52.55555555555556

In [5]:
import seaborn as sns
df=sns.load_dataset('tips')

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
np.mean(df['total_bill'])

19.78594262295082

In [8]:
# median
np.median(age)

44.0

In [11]:
age=[12,21,23,45,65,43,56,45,32,67,54,34,200]

In [12]:
np.mean(age)

53.61538461538461

In [13]:
np.median(age)

45.0

In [14]:
from scipy import stats

In [15]:
stats.mode(age)

/tmp/ipykernel_103/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))

In [16]:
np.median(df['total_bill'])

17.795

# 2. `Measure of Dispersion`

## 2.1 Variance
$$\bf{Population Variance}(\sigma^2)= \sum_{i=1}^N \frac{(x_i- \mu)^2}{N}$$

where, 
<br> $x_i$ : Data points
<br> $\mu$ : Population mean
<br> $N$ : Population size

$$\bf{Sample Variance}(s^2)= \sum_{i=1}^n \frac{(x_i- \bar{x})^2}{n-1}$$

where, 
<br> $x_i$ : Data points
<br> $\bar{x}$ : Sample mean
<br> $n$ : Sample size

**Question:** Why we divide sample variance by $n-1$ ?

**Answer:** The sample variance is divided by $n-1$, so that we can create an unbiased estimator of the population variance.

## 2.2 Standard Variance
$$\bf{\text{Population Standard Variance}}(\sigma)= \sqrt{variance} $$

$$\bf{\text{Sample Standard Variance}}(s)= \sqrt{s^2}$$

In [2]:
ages_lst= [23, 43, 23, 56, 74, 32, 68, 98, 45, 32]

In [3]:
import numpy as np

In [4]:
np.mean(ages_lst)

49.4

In [5]:
# variance
np.var(ages_lst)

541.64

In [6]:
# std
np.std(ages_lst)

23.273160507331188

```python
import seaborn as sns
sns.histplot(ages_lst)
```

In [11]:
import pandas as pd

In [12]:
data=[[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [13]:
df=pd.DataFrame(data,columns=["A","B","C"])

In [14]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [15]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [16]:
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [17]:
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

# 3. `Random Variable`
Random Variable is a process of mapping the output of a random process or exprements to a number.

**Ex:** Tossing a coin.
$$
X=
\begin{cases}
0, \quad \text{if Head} \\
1, \quad \text{it Tails}
\end{cases}
$$

Rolling a dice.

Measure the temperature of the next day.

$y= \big\{ \text{Sum of the rolling of dice 7 times.}$

$Pr(y \geq 15)$

$pr(y \le 10)$

$X= \big\{-, -, \cdots, -,- \big\} \Rightarrow Ages$

# 4. `Sets`
$A= \{1, 2, 3, 4, 5, 6, 7, 8\}$

$B= \{3, 4, 5, 6, 7\}$

## 4.1 Intersection
$A \cap B= \{3, 4, 5, 6, 7\}$

## 4.2 Union
$A \cup B= \{1, 2, 3, 4, 5, 6, 7, 8\}$

## 4.3 Difference
$A- B= \{1, 2, 8\}$

## 4.4 Subset
$A \rightarrow B \Rightarrow False$

$B \rightarrow A \Rightarrow True$

## 4.5 Superset
$A \rightarrow B \Rightarrow True$

$B \rightarrow A \Rightarrow False$

# 5. `Histogram and Skewness`

# 5.1 Histogram
![hist](https://www.investopedia.com/thmb/VIU-0WCoAbEJF4UKxXFA9R6JH2c=/6251x3959/filters:no_upscale():max_bytes(150000):strip_icc()/Histogram2-3cc0e953cc3545f28cff5fad12936ceb.png)

## 5.2 Left Skewness
![left](https://th.bing.com/th/id/OIP.m7JPY0D5wZ7Fx7NkYrs2mwHaFh?pid=ImgDet&rs=1)

## 5.3 Normal/Gaussian Distribution/No Skewnwss
![no](https://i1.wp.com/datasharkie.com/wp-content/uploads/no_skew.png?resize=356%2C372&ssl=1)

## 5.4 Right Skewness
![right](https://th.bing.com/th/id/R.2b00c1cfaaeadf3329a2a63ae38d01a7?rik=ktkiBcT6OjVbdA&pid=ImgRaw&r=0)

# 6. `Covariance and Correlation`

## 6.1 Covariance 
$$Cov(x, y)= \sum_{i=1}^n= \frac{(x_i- \bar{x_i})(y_i- \bar{y_i})}{n-1}$$

where,
<br> $x_i$ : Data point of $x$ 
<br> $\bar{x}$ : Sample mean of $x$
<br> $y_i$ : Data point of $y$ 
<br> $\bar{y}$ : Sample mean of $y$


**Covariance lies between** $-\infty$ to $\infty$

**Advantage:**
1. Relationship between $x$ and $y$
2. +ve or -ve value

**Disadvantage**
1. Covariance doen not have a specific limit value.

## 6.2 Correlation

### 6.2.1 Pearson Correlation Coefficient
$$\rho_{x, y}= \frac{Cov(x, y)}{\sigma_x, \sigma_y}$$

1. The more the value towards **+1** the more **+ve** correlated to (x, y).
2. The more the value towards **-1** the more **-ve** correlated to (x, y).

### 6.2.2 Spearman Rank Correlation
$$r_s= \frac{Cov \big(R_{(x)}, R_{(y)} \big)}{\sigma_{R_{(x)}} \times \sigma_{R_{(y)}}}$$

In [18]:
import seaborn as sns

In [19]:
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [20]:
##covariance
df.cov()

/tmp/ipykernel_1984/552416386.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [21]:
# Pearson correlation coefficient
df.corr(method='pearson')

/tmp/ipykernel_1984/4138758151.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [22]:
# spearman rank correlation
df.corr(method='spearman')

/tmp/ipykernel_1984/1769780213.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [23]:
df=sns.load_dataset('flights')
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [24]:
df.corr()

/tmp/ipykernel_1984/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

In [25]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
df.corr()

/tmp/ipykernel_1984/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000